<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content padding>

<ion-card *ngIf="info">

  <ion-card-header>
    <ion-card-title>{{ info[0].name.common }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img [src]="info[0].flags && info[0].flags.png" />
    <ion-item lines="none">
      <ion-label>Capital: {{ info[0].capital }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class=ion-text-wrap>Nome oficial: {{ info[0].name.official }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Continente: {{ info[0].continents }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Subregião: {{ info[0].subregion }}</ion-label>
    </ion-item>
    <ion-item lines="none" *ngFor="let currency of currencies">
      <ion-label>Moeda: {{ currency.name }} ({{ currency.symbol }})</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>População: {{ info[0].population }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Area: {{ info[0].area }} Km²</ion-label>
    </ion-item>
  </ion-card-content>

</ion-card>



</ion-content>