ion-toolbar{
    --background: #ffe568;
}

ion-content{
    --background: #fff url(../../../assets/mapa.png) no-repeat center center / cover;
}

ion-card{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px;
}

ion-card-header, ion-card-content{
    text-align: center;
}

ion-label.ion-text-wrap{
    font-size: 16px;
}

ion-back-button{
    --color: black;
}